body {
  font-size: 1.5em;
  text-align: center;
  background-color: lightcyan;
}

img {
  height: 10em;
  width: 10em;
}

h1.flashy {
  color: red;
  font-style: italic;
}

ul.flashy {
  color: red;
  font-style: italic;
  list-style-type: none;
}

p.flashy {
  color: red;
  font-style: italic;
}

p.best {
  color: green;
  font-size:
  font-style: oblique;
}
